body {
    text-align: center;    
    position: relative; 
    height: 100%;
}

.shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #ddd;
	opacity: 0.6;
	display: none;
	text-align: center;
	font: 25px verdana;
	padding-top: 20%;
}